
.vc-reset, .vc-reset * {
	line-height: 1.5;
	box-sizing: border-box;
}
.vc-border, .vc-border-2, .vc-border-3 {
	border-style: solid;
}
.vc-bg-white {
	background-color: #fff;
}
.vc-border-gray-400 {
	border-color: #cbd5e0;
}
.vc-rounded-lg {
	border-radius: 8px;
}
.vc-border {
	border-width: 1px;
}
.vc-relative {
	position: relative;
}
.vc-text-gray-900 {
	color: #1a202c;
}
.vc-container {
	--slide-translate: 22px;
	--slide-duration: .15s;
	--slide-timing: ease;
	--header-padding: 10px 10px 0 10px;
	--title-padding: 0 8px;
	--arrows-padding: 8px 10px;
	--arrow-font-size: 26px;
	--weekday-padding: 5px 0;
	--weeks-padding: 5px 6px 7px 6px;
	--nav-container-width: 170px;
	--day-min-height: 28px;
	--day-content-width: 28px;
	--day-content-height: 28px;
	--day-content-margin: 1.6px auto;
	--day-content-transition-time: .13s ease-in;
	--day-content-bg-color-hover: rgba(204,214,224,0.3);
	--day-content-dark-bg-color-hover: rgba(114,129,151,0.3);
	--day-content-bg-color-focus: rgba(204,214,224,0.4);
	--day-content-dark-bg-color-focus: rgba(114,129,151,0.4);
	--highlight-height: 28px;
	--dot-diameter: 5px;
	--dot-border-radius: 50%;
	--dot-spacing: 3px;
	--bar-height: 3px;
	--bars-width: 75%;
	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
}
.col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
	width: 100%;
	padding: 12px;
}
.col {
	flex-basis: 0px;
	flex-grow: 1;
	max-width: 100%;
}
.col-12 {
	flex: 0 0 100%;
	max-width: 100%;
}
.no-gutters > .col, .no-gutters > [class*=col-] {
	padding: 0;
}
.row {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	margin-right: -12px;
	margin-left: -12px;
}
.no-gutters {
	margin-right: 0px;
	margin-left: 0px;
}
.container {
	width: 100%;
	padding: 12px;
	margin-right: auto;
	margin-left: auto;
}
.v-application--wrap {
	flex: 1 1 auto;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 100%;
	position: relative;
}
.v-application {
	display: flex;
}
.v-application {
	font-family: "Roboto",sans-serif;
	line-height: 1.5;
}
.theme--light.v-application {
	background: #fafafa;
	color: rgba(0, 0, 0, 0.87);
}
#calendar .calendar {
	background-color: transparent;
}
[_ngcontent-uvi-c0]#calendar {
	width: 290px;
	background-color: transparent;
}
html {
	font-size: 16px;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html, body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto,"Helvetica Neue",sans-serif;
}
.vc-w-full {
	width: 100%;
}
[data-v-4364de39].vc-popover-content-wrapper {
	--popover-horizontal-content-offset: 8px;
	--popover-vertical-content-offset: 10px;
	--popover-slide-translation: 15px;
	--popover-transition-time: .14s ease-in-out;
	--popover-caret-horizontal-offset: 18px;
	--popover-caret-vertical-offset: 8px;
	position: absolute;
	display: block;
	outline: none;
	z-index: 10;
}
[data-v-4364de39]:not(.is-interactive).vc-popover-content-wrapper {
	pointer-events: none;
}
[data-v-3ca35a05].vc-grid-container {
	position: relative;
	flex-shrink: 1;
	display: grid;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.vc-arrows-container {
	width: 100%;
	position: absolute;
	top: 0px;
	display: flex;
	justify-content: space-between;
	padding: var(--arrows-padding);
	pointer-events: none;
}
.vc-border-transparent {
	border-color: transparent;
}
.vc-rounded {
	border-radius: 4px;
}
.vc-border-2 {
	border-width: 2px;
}
.vc-bg-blue-600 {
	background-color: #3182ce;
}
.vc-rounded-full {
	border-radius: 9999px;
}
.vc-cursor-pointer {
	cursor: pointer;
}
.vc-flex {
	display: flex;
}
.vc-items-center {
	align-items: center;
}
.vc-justify-center {
	justify-content: center;
}
.vc-pointer-events-auto {
	pointer-events: auto;
}
.vc-text-gray-600 {
	color: #718096;
}
.vc-select-none {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.vc-reset [role=button], .vc-reset button {
	cursor: pointer;
}
svg:not(:root) {
	overflow: hidden;
}
[data-v-5572e632].vc-svg-icon {
	display: inline-block;
	stroke: currentColor;
	stroke-width: 0;
}
.vc-svg-icon path[data-v-5572e632] {
	fill: currentColor;
}
[data-v-3ca35a05].vc-grid-cell {
	display: flex;
	justify-content: center;
	align-items: center;
}
[data-v-d137fa42].vc-pane {
	flex-grow: 1;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}
[data-v-d137fa42].vc-header {
	flex-shrink: 0;
	display: flex;
	align-items: stretch;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: var(--header-padding);
}
[data-v-d137fa42].vc-weeks {
	flex-shrink: 1;
	flex-grow: 1;
	padding: var(--weeks-padding);
}
[data-v-47ef1cd6].vc-day {
	position: relative;
	min-height: var(--day-min-height);
	width: 100%;
	height: 100%;
	z-index: 1;
}
[data-v-47ef1cd6].vc-day-layer {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	pointer-events: none;
}
[data-v-47ef1cd6].vc-day-box-center-center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	transform-origin: 50% 50% 0px;
}
.vc-h-full {
	height: 100%;
}
.vc-opacity-0 {
	opacity: 0;
}
.vc-pointer-events-none {
	pointer-events: none;
}
.vc-font-medium {
	font-weight: 500;
}
.vc-text-white {
	color: #fff;
}
.focus:vc-font-bold:focus, .vc-font-bold {
	font-weight: 700;
}
.vc-text-gray-500 {
	color: #a0aec0;
}
.vc-text-sm {
	font-size: 14px;
}
[data-v-47ef1cd6].vc-day-content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--day-content-width);
	height: var(--day-content-height);
	margin: var(--day-content-margin);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
[data-v-47ef1cd6].vc-highlights {
	overflow: hidden;
	pointer-events: none;
	z-index: -1;
}
[data-v-47ef1cd6].vc-highlight {
	width: var(--highlight-height);
	height: var(--highlight-height);
}
[data-v-d137fa42].vc-title {
	cursor: pointer;
	white-space: nowrap;
	padding: var(--title-padding);
}
[data-v-d137fa42].vc-title, [data-v-d137fa42].vc-weekday {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
[data-v-d137fa42].vc-weekday {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	padding: var(--weekday-padding);
	cursor: default;
}
.v-application .align-center {
	align-items: center !important;
}
[data-v-d137fa42].vc-title-layout {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}
[data-v-d137fa42].vc-title-wrapper {
	position: relative;
}
.vc-font-semibold {
	font-weight: 600;
}
.vc-text-gray-800 {
	color: #2d3748;
}
.vc-text-lg {
	font-size: 18px;
}