<div class="vc-container vc-relative vc-reset vc-text-gray-900 vc-bg-white vc-border vc-border-gray-400 vc-rounded-lg"
  data-helptext="Press the arrow keys to navigate by day, Home and End to navigate to week ends, PageUp and PageDown to navigate by month, Alt+PageUp and Alt+PageDown to navigate by year">
  <div class="vc-w-full vc-relative">
    <div class="vc-grid-container grid" style="grid-template-columns: minmax(256px, 1fr);" data-v-3ca35a05=""
      data-v-5be4b00c="">
      <div class="vc-grid-cell vc-grid-cell-row-1 vc-grid-cell-row--1 vc-grid-cell-col-1 vc-grid-cell-col--1"
        style="grid-area:1 / 1 / auto / auto;" data-v-3ca35a05="">
        <div class="vc-pane" data-v-3ca35a05="" data-v-d137fa42="" attributes="[object Object]">
          <div class="vc-header vc-text-gray-900" data-v-d137fa42="">
            <div class="vc-title-layout align-center" data-v-d137fa42="">
              <div class="vc-title-wrapper" data-v-d137fa42="">
                <div class="vc-title vc-text-lg vc-text-gray-800 vc-font-semibold hover:vc-opacity-75"
                  data-v-d137fa42="">TODAY, Nov 2019</div>
                <div class="vc-popover-content-wrapper" data-v-4364de39="" data-v-d137fa42="">
                  <!---->
                </div>
              </div>
            </div>
          </div>
          <div class="vc-grid-container vc-weeks"
            style="height: 0px; visibility: hidden; grid-template-columns: repeat(7, 1fr);" data-v-3ca35a05=""
            data-v-d137fa42="">
          </div>
        </div>
      </div>
    </div>
    <div class="vc-arrows-container title-center">
      <div
        class="vc-flex vc-justify-center vc-items-center vc-cursor-pointer vc-select-none vc-pointer-events-auto vc-text-gray-600 vc-rounded vc-border-2 vc-border-transparent hover:vc-opacity-50 hover:vc-bg-gray-300 focus:vc-border-gray-300"
        role="button"><svg xmlns="http://www.w3.org/2000/svg" class="vc-svg-icon" viewBox="0 -1 16 34" width="26px"
          height="26px" data-v-5572e632="">
          <path
            d="M 11.196 10 c 0 0.143 -0.071 0.304 -0.179 0.411 l -7.018 7.018 l 7.018 7.018 c 0.107 0.107 0.179 0.268 0.179 0.411 s -0.071 0.304 -0.179 0.411 l -0.893 0.893 c -0.107 0.107 -0.268 0.179 -0.411 0.179 s -0.304 -0.071 -0.411 -0.179 l -8.321 -8.321 c -0.107 -0.107 -0.179 -0.268 -0.179 -0.411 s 0.071 -0.304 0.179 -0.411 l 8.321 -8.321 c 0.107 -0.107 0.268 -0.179 0.411 -0.179 s 0.304 0.071 0.411 0.179 l 0.893 0.893 c 0.107 0.107 0.179 0.25 0.179 0.411 Z"
            data-v-5572e632="" /></svg></div>
      <div
        class="vc-flex vc-justify-center vc-items-center vc-cursor-pointer vc-select-none vc-pointer-events-auto vc-text-gray-600 vc-rounded vc-border-2 vc-border-transparent hover:vc-opacity-50 hover:vc-bg-gray-300 focus:vc-border-gray-300"
        role="button"><svg xmlns="http://www.w3.org/2000/svg" class="vc-svg-icon" viewBox="-5 -1 16 34" width="26px"
          height="26px" data-v-5572e632="">
          <path
            d="M 10.625 17.429 c 0 0.143 -0.071 0.304 -0.179 0.411 l -8.321 8.321 c -0.107 0.107 -0.268 0.179 -0.411 0.179 s -0.304 -0.071 -0.411 -0.179 l -0.893 -0.893 c -0.107 -0.107 -0.179 -0.25 -0.179 -0.411 c 0 -0.143 0.071 -0.304 0.179 -0.411 l 7.018 -7.018 l -7.018 -7.018 c -0.107 -0.107 -0.179 -0.268 -0.179 -0.411 s 0.071 -0.304 0.179 -0.411 l 0.893 -0.893 c 0.107 -0.107 0.268 -0.179 0.411 -0.179 s 0.304 0.071 0.411 0.179 l 8.321 8.321 c 0.107 0.107 0.179 0.268 0.179 0.411 Z"
            data-v-5572e632="" /></svg></div>
    </div>
  </div>
  <div class="vc-popover-content-wrapper" data-v-4364de39="">
    <!---->
  </div>
</div>